.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* justify-content: flex-start ; flex-end;  center; space-between */ 

.container {
    background-color: var(--verde);
    display: flex;
    align-items: center; /* alinha as imagens no centro */
    justify-content:flex-end; /* Distribui as imagens dentro de cada div flex-start, flex-end, center, space-between */
    /* gap: 30px; Ajuste conforme o espaçamento desejado */
    width:20%;
}

.container02 {
    background-color: var(--azul);
    display: flex;
    align-items: center; /* alinha as imagens no centro */
    justify-content:flex-end; /* Distribui as imagens dentro de cada div flex-start, flex-end, center, space-between */
    /* gap: 30px; Ajuste conforme o espaçamento desejado */
    width:40%;
}
.container__imagem {*/
    padding: 10px; /*O padding ajuda a criar uma área de espaçamento interno ao redor da imagem, o que evita que ela fique encostada em outros elementos, como textos, bordas ou outros conteúdos próximos.
}
.texto-cabeçalho {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #000000;
}
