cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
  display: none;          /* Inicialmente o menu está oculto */
  position: absolute;     /* Posicionamento absoluto em relação ao contêiner pai */
  top: 100%;              /* A lista aparece logo abaixo do botão (a 100% da altura do contêiner) */
}

/*O que é o "elemento pai"?
Em HTML, o elemento pai é o elemento que contém o .lista-menu. O pai do .lista-menu pode ser, por exemplo, um div, section, ou até um body, dependendo da estrutura do seu HTML.
Nesse exemplo, o elemento pai é o div com a classe .menu-container, pois ele contém o input, o label e o ul (que tem a classe .lista-menu).
*/

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

/*A propriedade padding em CSS define o espaço interno 
entre o conteúdo de um elemento (como texto ou uma imagem) e suas bordas. 
O valor do padding cria um "recuo" em volta do conteúdo, aumentando o espaço 
entre ele e a borda do elemento. Em CSS, 1em é igual ao tamanho da fonte do elemento atual. Ou seja, 
se a fonte for 16 pixels, 1em será igual a 16px.*/

.lista-menu__titulo {
  color: var(--laranja);
}
