.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: var(--azul);
    display: flex;
    align-items: center; /* alinha as imagens no centro */
    justify-content: flex-start; /* Distribui as imagens dentro de cada div flex-start, flex-end, center, space-between */
    /*gap: 100px; /* Ajuste conforme o espaçamento desejado */
    width: 30%; /* Define 30% da largura para cada div.container */
}

.container__imagem {*/
    padding: 1em; /*O padding ajuda a criar uma área de espaçamento interno ao redor da imagem, o que evita que ela fique encostada em outros elementos, como textos, bordas ou outros conteúdos próximos.
}
